<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inbox</title>
  </head>
  <body>
    <form method="POST" action="/send">
      <label for="Sender">Choose Sender:</label>
      <select id="Sender" name="sender">
        <%for(let i=0; i<sender.length; i++){%>
               <option for=<%=sender[i]%> ><%=sender[i]%></option>
        <%}%>
      </select>
      <label for="receiver">Choose recipient:</label>
      <select id="receiver" name="receiver">
        <%for(let i=0; i<receiver.length; i++){%>
               <option for=<%=receiver[i]%> ><%=receiver[i]%></option>
        <%}%>
      </select>
      <br>
      <label for="message">Message</label><br />
      <input type="text" id="message" name="message" /><br />
      <input type="submit" value="Send Text" />
    </form>
    <hr>
    <form method="POST" action="/filter">
      <label for="sendfilter">Choose Sender:</label>
      <select id="sendFilter" name="sendFilter">
        <%for(let i=0; i<sender.length; i++){%>
               <option for=<%=sender[i]%> ><%=sender[i]%></option>
        <%}%>
      </select>
      <label for="recFilter">Choose recipient:</label>
      <select id="recFilter" name="recFilter">
        <%for(let i=0; i<receiver.length; i++){%>
               <option for=<%=receiver[i]%> ><%=receiver[i]%></option>
        <%}%>
      </select>
      <br>
      <input type="submit" value="Refresh" />
    </form>

    <div>
        <%for(let i=0; i<messages.length; i++){%>
              <p><%=messages[i].sender%>:
              <%=messages[i].message%></p>
        <%}%>

    </div>
  </body>
</html>
